@import url('https://fonts.googleapis.com/css2?family=Bricolage+Grotesque:opsz,wght@12..96,200..800&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --font-body: 'Bricolage Grotesque', sans-serif;
  --font-title: 'Bricolage Grotesque', sans-serif;
}

body {
  font-family: var(--font-body);
}

.dark {
  color-scheme: dark;
}

@layer base {
  body {
    @apply bg-white text-gray-900 transition-colors duration-200 dark:bg-gray-900 dark:text-white;
  }
}

@layer components {
  .scroll::-webkit-scrollbar {
    @apply w-1 rounded-full bg-gray-200 dark:bg-gray-700;
  }

  .scroll::-webkit-scrollbar-thumb {
    @apply rounded-full bg-orange-300 dark:bg-orange-600;
  }
}